/* FILE: app/globals.css */

html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #f3f4f6; /* světle šedé pozadí */
}

* {
  box-sizing: border-box;
}
